#head1 {
	color: rgb(0,0,200);
        min-height: 100px;
	max-height: 100px;
	font-family: "Times New Roman", Times, serif;
	font-size: 40px;
}

#head2 {
	border-bottom: 2px solid grey;
	font-size: 20px;
}

.container {
	width: 100%;
}
