

#head1 {
	color: rgb(0,139,139);
        min-height: 100px;
	max-height: 100px;
	font-family: "Times New Roman", Times, serif;
	font-size: 50px;
	z-index: 1;
	    background: grey; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(grey, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(grey, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(grey, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(grey, white); /* Standard syntax */
}

#head2 {
	border-bottom: 2px solid grey;
	font-size: 20px;
	background-color: rgb(255,255,255);
	z-index: 1;
}

#headseparator {
	border-top: 1px solid grey;
	background-color: rgb(255,255,255);
	z-index: 1;
}

#nav {
	border-bottom: 1px solid grey;
	font-size: 15px;
	background-color: rgb(255,255,255);
	z-index: 1;
}

.container {
	width: 100%;
}
